<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-left">
                        <div class="terms">
                        <div class="item-no"><b>Contact Detail</b></div>
                        <p><a href="https://wa.me/917604991772">Click here to contact us in whatsup</a><br></p>
                            
                    </div>
                            </div>
                            <div class="terms">
                                <div class="item-no"><b>Terms and conditions</b></div>
                                <p> 1) Person who are all registered in this website, are not verified.<br>
                                    2) Registration has been done by admin in backend (Bride / Groom Details will be receiving by parents / Guardians through SMS/Whatsup/call)<br>
                                    3) This website is like mediator.<br>
                                    4) Admin will not responsible for any wrong information about Bride / Groom details in website<br>
                                    5) End to End Bride / Groom details need to be verified by their parents / Guardians , will not done by admin<br>
                                    6) Admin will not resposnse for any bad incident happen before and after marriage<br>
                            </p>
                            </div>
        </div>
    </div>
</div>