<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-left">
                        <div class="terms">
                        <div class="item-no"><b>Contact Detail</b></div>
                        <p><a href="https://wa.me/917604991772">Click here to contact us in whatsup(Private)</a><br></p>
                        <p><a href="https://chat.whatsapp.com/F46LN4yRHa0I33HlHh8khP">Click here to join our group for updates</a><br></p>   
                    </div>
                            </div>
                            <div class="terms">
                                <div class="item-no"><b>Terms and conditions</b></div>
                                <p> Soon We will update
                            </p>
                            </div>
        </div>
    </div>
</div>