<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-left">
                        <div class="terms">
                        <div class="item-no"><b>1)Contact Information (10 AM to 8 PM)</b></div>
                        <p><a href="https://wa.me/917604991772">Click here for Whatapp chat  (All Enquiry)</a><br></p>
                        <p><a href="https://chat.whatsapp.com/F46LN4yRHa0I33HlHh8khP">Click here to join our group (For Regular updates) </a><br></p>  
                        <div class="item-no"><b>2)Provide the ID number of Bride/Groom for getting their contact information </b></div> 
                    </div>
                            </div>
                            <div class="terms">
                                <div class="item-no"><b>3)Please provide the details in below format to display this website in whatsapp</b></div>
                                <p> Name : <br>
                                    DOB: <br>
                                    Gender: <br>
                                    Maritial Status: 'Unmarried/divorce/widow' <br>
                                    Dhosam : <br>
                                    Father Name : <br>
                                    Father Occupuataion : <br>
                                    Father Contact number: <br>
                                    Mother Name : <br>
                                    Mother Ocupation : Home maker/occupation <br>
                                    Mother Contact number: <br>
                                    Education : B.sc/BE/MBBS<br>
                                    Occupation : IT/Doctor/Business <br>
                                    Company : <br>
                                    Class :Middle/uppper/lower class <br>
                                    Salary : <br>
                                    Veedu : 8/16 <br>
                                    Siblings : <br>
                                    Native: <br>
                                    Liiving location: <br>
                            </p>
                            </div>
                            
        </div>
    </div>
</div>