<div class="terms-modal-wrapper modal-wrapper">
        <div class="modal-info terms-wrapper mb-5">
            
            
            <!-- <div class="modal-title alt-text-color large-text mb-4">Providing Service to our community  </div> -->
            <!-- <div class="modal-title alt-text-color large-text mb-4">NEW UPDATE AT 07-AUG-2020 8VEEDU Groom(1),16VEEDU Groom(3) </div> -->
            <!-- <div class="modal-title alt-text-color large-text mb-4">NEW UPDATE AT 09-AUG-2020 24MTC Groom 16 Veedu(3),24MTC Bride 8 Veedu(1),24MTC 8 VeeduRemarriage(1),24MTC Groom 8 Veedu(2)  </div> -->
            
            <div class="modal-title alt-text-color large-text mb-4">Terms and Condition</div>
        <div class="terms">
            <p> 1)	Details that are displayed in this website are received from parents/ Guardians/Relatives not from brokers and same are not verified. <br>
                2)	End to End verification need to be done by bride/Groom side.<br>
                3)	In website few Details are mentioned as “not received” which means those details are not received from bride/Groom side. <br>
                4)	MM do not authenticate/endorse any information of any profile and hence you as a user need to verify the credentials and information provided by other users <br>
                5)	MM will not responsible for any incident happen before and after marriage. <br>
                6)	MM member shall, in case of finalization of his/her/their Registrant’s marriage, intimate MM for removal/deletion of their profile. <br>
                7)  We are not maintaining any other details of bride/Groom like Photo, horoscope..Etc , only displayed details in website are available.<br>
                8)	If you registered for Groom, you are eligible for getting bride details.<br>
                9)	If you registered for Bride, you are eligible for getting Groom details.<br>
                10)	We are generation unique ID for each bride/Groom for tracking purpose.<br>
                11) If we observed any fraud / misbehaviors activities , we will remove you ID from website with out any communication and also will register police complain against you <br>
                12) ID will be removed without  any communication , if bride / groom not picking call for long time.
                
        </p>
        </div>
        <!-- <div class="modal-title alt-text-color large-text mb-4">No Broker commission and  Free registration</div> -->
        <!-- <div class="modal-title alt-text-color large-text mb-4">தரகர் கமிஷன் இல்லை மற்றும் பதிவு கட்டணம் இல்லை</div> -->
    
       
        <p><font size="4" color="red"><b>No Broker commission and  Free registration</b></font></p>
        <p><font size="4" color="red"><b>தரகர் கமிஷன் இல்லை மற்றும் பதிவு கட்டணம் இல்லை</b></font></p>
        <p><font size="4" color="Blue"><b>Profile Summary/சுயவிவர சுருக்கம்</b></font></p>
        <style>
            table, th, td {
              border: 1px solid black;
            }
            table.center {
  margin-left:auto; 
  margin-right:auto;
}
            </style>
<table class="center">
  <tr>
    <th><b>Category/வகை</b></th>
   <th><b>Total Profile/மொத்த சுயவிவரம்</b></th> 
   <th><b>Latest Update/புதுப்பிப்பு(14-AUG-2020)</b></th>
  
  </tr>
  <tr>
    <td style="text-align:left;" ><b>24MTC Bride(பெண்) 8 Veedu</b></td>
    <td><b>30</b></td>
    <td><b>0</b></td>
  </tr>
  <tr>
    <td style="text-align:left;"><b>24MTC Groom(ஆண்) 8 Veedu</b></td>
    <td><b>53</b></td>
    <td><b>0</b></td>
  </tr>
  <tr>
    <td style="text-align:left;"><b>24MTC Bride(பெண்) 16 Veedu</b></td>
    <td><b>28</b></td>
    <td><b>2</b></td>
  </tr>
  <tr>
    <td style="text-align:left;"><b>24MTC Groom(ஆண்) 16 Veedu</b></td>
    <td><b>85</b></td>
    <td><b>3</b></td>
  </tr>
  <tr>
    <td style="text-align:left;"><b>24MTC 16 Veedu(ஆண்/பெண்) Doctor</b></td>
    <td><b>3</b></td>
    <td><b>1</b></td>
  </tr>
    <tr>
    <td style="text-align:left;"><b>24MTC 8(ஆண்/பெண்) Veedu Doctor</b></td>
    <td><b>2</b></td>
    <td><b>0</b></td>
  </tr>
  <tr>
    <td style="text-align:left;"><b>24MTC 16(ஆண்/பெண்) Veedu Remarriage</b></td>
    <td><b>5</b></td>
    <td><b>0</b></td>
  </tr>
  <tr>
    <td style="text-align:left;"><b>24MTC 8(ஆண்/பெண்) Veedu Remarriage</b></td>
    <td><b>6</b></td>
    <td><b>0</b></td>
  </tr>
  <tr>
    <td style="text-align:left;"><b>Total/மொத்தம்</b></td>
    <td><b>212</b></td>
    <td><b>6</b></td>
  </tr>

</table>
<p><font size="3" color="Black"><b>Note : Latest Profile will be reflecting first , Whenever your are selecting the filter</b></font></p>
<p><font size="3" color="Black"><b>குறிப்பு: சமீபத்திய சுயவிவரம் முதலில் பிரதிபலிக்கும், நீங்கள் வடிப்பானைத் தேர்ந்தெடுக்கும்போதெல்லாம்</b></font></p>

            </div>
    <ng-container *ngIf="true">
        <button class="btn btn-success mb-4" (click)="activeModal.close(true)">Press here / இங்கே அழுத்தவும்
        </button>
    </ng-container>
</div>