<div class="terms-modal-wrapper modal-wrapper">
        <div class="modal-info terms-wrapper mb-5">
            
            
            <!-- <div class="modal-title alt-text-color large-text mb-4">Providing Service to our community  </div> -->
            <!-- <div class="modal-title alt-text-color large-text mb-4">NEW UPDATE AT 07-AUG-2020 8VEEDU Groom(1),16VEEDU Groom(3) </div> -->
            <!-- <div class="modal-title alt-text-color large-text mb-4">NEW UPDATE AT 09-AUG-2020 24MTC Groom 16 Veedu(3),24MTC Bride 8 Veedu(1),24MTC 8 VeeduRemarriage(1),24MTC Groom 8 Veedu(2)  </div> -->
            
            <div class="modal-title alt-text-color large-text mb-4">Terms and Condition</div>
        <div class="terms">
            <p> 1)	Details that are displayed in this website are received from parents/ Guardians/Relatives not from brokers and same are not verified. <br>
                2)	End to End verification need to be done by bride/Groom side.<br>
                3)	In website few Details are mentioned as “not received” which means those details are not received from bride/Groom side. <br>
                4)	MM do not authenticate/endorse any information of any profile and hence you as a user need to verify the credentials and information provided by other users <br>
                5)	MM will not responsible for any incident happen before and after marriage. <br>
                6)	MM member shall, in case of finalization of his/her/their Registrant’s marriage, intimate MM for removal/deletion of their profile. <br>
                7)  We are not maintaining any other details of bride/Groom like Photo, horoscope..Etc , only displayed details in website are available.<br>
                8)	If you registered for Groom, you are eligible for getting bride details.<br>
                9)	If you registered for Bride, you are eligible for getting Groom details.<br>
                10)	We are generation unique ID for each bride/Groom for tracking purpose.<br>
                11) If we observed any fraud / misbehaviors activities , we will remove you ID from website with out any communication and also will register police complain against you <br>
                12) ID will be removed without  any communication , if bride / groom not picking call for long time.
                
        </p>
        </div>
        <div class="modal-title alt-text-color large-text mb-4">No Broker commission and  Free registration</div>
        <div class="modal-title alt-text-color large-text mb-4">தரகர் கமிஷன் இல்லை மற்றும் பதிவு கட்டணம் இல்லை</div>
        <div class="modal-title alt-text-color large-text mb-4">NEW UPDATE AT 11-AUG-2020  24MTC 8VEEDU Bride(1), 24MTC 16VEEDU Bride(1), 24MTC 16VEEDU Groom(3),24MTC 8VEEDU Groom(1) </div>
       
            </div>
    <ng-container *ngIf="true">
        <button class="btn btn-success mb-4" (click)="activeModal.close(true)">OK Got it</button>
    </ng-container>
</div>