<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1"> Apply a Filter to dispay the Details</label>
                        <select class="form-control" (change)="optionChange($event)">
                            <option value="mainData">Select Filter</option>
                          <option value="MTCBride8Veedu">24MTC Bride 8 Veedu</option>
                          <option value="MTCGroom8Veedu">24MTC Groom 8 Veedu</option>
                          <option value="MTCBride16Veedu">24MTC Bride 16 Veedu</option>
                          <option value="MTCGroom16Veedu">24MTC Groom 16 Veedu</option>
                          <option value="MTC16VeeduDoctor">24MTC 16 Veedu Doctor</option>
                          <option value="MTC8VeeduDoctor">24MTC 8 Veedu Doctor</option>
                          <option value="MTC16VeeduRemarriage">24MTC 16 Veedu Remarriage</option>
                          <option value="MTC8VeeduRemarriage">24MTC 8 Veedu Remarriage</option>
                        </select>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-4" *ngFor="let item of data">
            <div class="card">
                <h6 class="card-header">{{item.name}}</h6>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-6">MID</dt>
                        <dd class="col-sm-4">{{item.mid}}</dd>
                        <dt class="col-sm-5 text-truncate">DOB</dt>
                        <dd class="col-sm-5">{{item.dob}}</dd>
                        <dt class="col-sm-5">Gender</dt>
                        <dd class="col-sm-5">{{item.Gender}}</dd>
                        <dt class="col-sm-5">Marital status</dt>
                        <dd class="col-sm-5">{{item.Maritalstatus}}</dd>
                        <dt class="col-sm-5">Father's Occupation</dt>
                        <dd class="col-sm-5">{{item.fathersOccupation}}</dd>
                        <dt class="col-sm-5">Mother's Occupation</dt>
                        <dd class="col-sm-5">{{item.mothersOccupation}}</dd>
                        <dt class="col-sm-5">Education</dt>
                        <dd class="col-sm-5">{{item.education}}</dd>
                        <dt class="col-sm-5">Occupation</dt>
                        <dd class="col-sm-5">{{item.occupation}}</dd>
                        <dt class="col-sm-5">Company</dt>
                        <dd class="col-sm-5">{{item.company}}</dd>
                        <dt class="col-sm-5">Class</dt>
                        <dd class="col-sm-5">{{item.class}}</dd>
                        <dt class="col-sm-5">Salaray</dt>
                        <dd class="col-sm-5">{{item.salary}}</dd>
                        <dt class="col-sm-5">Veedu</dt>
                        <dd class="col-sm-5">{{item.veedu}}</dd>
                        <dt class="col-sm-5">Siblings</dt>
                        <dd class="col-sm-5">{{item.siblings}}</dd>
                        <dt class="col-sm-5">Native</dt>
                        <dd class="col-sm-5">{{item.native}}</dd>
                        <dt class="col-sm-5">LivingLocation</dt>
                        <dd class="col-sm-5">{{item.livingLocation}}</dd>
                    </dl>
                </div>
              </div>
        </div>
    </div>
</div>
