<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1"> Apply a Filter to dispay the Details</label>
                        <select class="form-control" (change)="optionChange($event)">
                            <option value="mainData">Select Filter</option>
                          <option value="MTCBride8Veedu">24MTC Bride(பெண்) 8 Veedu</option>
                          <option value="MTCGroom8Veedu">24MTC Groom(ஆண்) 8 Veedu</option>
                          <option value="MTCBride16Veedu">24MTC Bride(பெண்) 16 Veedu</option>
                          <option value="MTCGroom16Veedu">24MTC Groom(ஆண்) 16 Veedu</option>
                          <option value="MTC16VeeduDoctor">24MTC 16 Veedu(ஆண்/பெண்) Doctor</option>
                          <option value="MTC8VeeduDoctor">24MTC 8(ஆண்/பெண்) Veedu Doctor</option>
                          <option value="MTC16VeeduRemarriage">24MTC 16(ஆண்/பெண்) Veedu Remarriage</option>
                          <option value="MTC8VeeduRemarriage">24MTC 8(ஆண்/பெண்) Veedu Remarriage</option>
                        </select>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-4" *ngFor="let item of data">
            <div class="card">
                <h6 class="card-header">{{item.name}}</h6>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-5">ID</dt>
                        <dd class="col-sm-5">{{item.id}}</dd>
                        <dt class="col-sm-5 text-truncate">DOB</dt>
                        <dd class="col-sm-5">{{item.dob}}</dd>
                        <dt class="col-sm-5">Gender</dt>
                        <dd class="col-sm-5">{{item.Gender}}</dd>
                        <dt class="col-sm-5">Education Detail</dt>
                        <dd class="col-sm-5">{{item.educationdetail}}</dd>
                        <dt class="col-sm-5">Marital status</dt>
                        <dd class="col-sm-5">{{item.Maritalstatus}}</dd>
                        <dt class="col-sm-5">Qualification</dt>
                        <dd class="col-sm-5">{{item.education}}</dd>
                        <dt class="col-sm-5">Height</dt>
                        <dd class="col-sm-5">{{item.Height}}</dd>
                        <dt class="col-sm-5">Weight</dt>
                        <dd class="col-sm-5">{{item.Weight}}</dd>
                        <dt class="col-sm-5">Body Type</dt>
                        <dd class="col-sm-5">{{item.BodyType}}</dd>
                        <dt class="col-sm-5">Eating Habits </dt>
                        <dd class="col-sm-5">{{item.EatingHabits }}</dd>
                        <dt class="col-sm-5">Native</dt>
                        <dd class="col-sm-5">{{item.native}}</dd>
                        <dt class="col-sm-5">LivingLocation</dt>
                        <dd class="col-sm-5">{{item.livingLocation}}</dd>
                        <dt class="col-sm-5">Veedu</dt>
                        <dd class="col-sm-5">{{item.veedu}}</dd>
                        <dt class="col-sm-5">Thali</dt>
                        <dd class="col-sm-5">{{item.Thali }}</dd>
                        <dt class="col-sm-5">Kulam</dt>
                        <dd class="col-sm-5">{{item.Kulam }}</dd>
                        <dt class="col-sm-5">Company</dt>
                        <dd class="col-sm-5">{{item.company}}</dd>
                        <dt class="col-sm-5">Occupation</dt>
                        <dd class="col-sm-5">{{item.occupation}}</dd>
                        <dt class="col-sm-5">Salary</dt>
                        <dd class="col-sm-5">{{item.salary}}</dd>
                        <dt class="col-sm-5">Class</dt>
                        <dd class="col-sm-5">{{item.class}}</dd>
                        <dt class="col-sm-5">Father's name</dt>
                        <dd class="col-sm-5">{{item.fathersname}}</dd>
                        <dt class="col-sm-5">Father's Occupation</dt>
                        <dd class="col-sm-5">{{item.fathersOccupation}}</dd>
                        <dt class="col-sm-5">Mother's Name</dt>
                        <dd class="col-sm-5">{{item.mothersname}}</dd>
                        <dt class="col-sm-5">Mother's Occupation</dt>
                        <dd class="col-sm-5">{{item.mothersOccupation}}</dd>
                        <dt class="col-sm-5">Siblings</dt>
                        <dd class="col-sm-5">{{item.siblings}}</dd>
                        <dt class="col-sm-5">Siblings Marriage</dt>
                        <dd class="col-sm-5">{{item.siblingsmarriage}}</dd>         
                        <dt class="col-sm-5">Dhosam</dt>
                        <dd class="col-sm-5">{{item.dhosam}}</dd>
                        <dt class="col-sm-5">Dhosam Details</dt>
                        <dd class="col-sm-5">{{item.dhosamdetails}}</dd>
                        <dt class="col-sm-5">Rasi</dt>
                        <dd class="col-sm-5">{{item.rasi}}</dd>
                        <dt class="col-sm-5">Natchathiram</dt>
                        <dd class="col-sm-5">{{item.natchathiram}}</dd>
                        <dt class="col-sm-5">Lagnam</dt>
                        <dd class="col-sm-5">{{item.Lagnam}}</dd>
                        <dt class="col-sm-5">Expectation</dt>
                        <dd class="col-sm-5">{{item.Expectation}}</dd>

                    </dl>
                </div>
              </div>
        </div>
    </div>
</div>
